{{ form_start(form) }}
	<div>
		{{ form_widget(form['email_address'], {
			'attr': { 'placeholder': 'Email address...' }
		}) }}
	</div>
	<button class="button subscribe">Subscribe</button>
{{ form_end(form) }}