<div class="row">
	<div class="col-12">
		<a href="#top" class="top">Back to top</a>
	</div>
</div>

<footer class="footer row" role="contentinfo">
	{{ render(controller('Mothership:Site::Controller:Module:Menu#footer')) }}
	<section class="col-3">
		<h4>Social</h4>

		{{
			render(controller('Message:Mothership:CMS::Controller:Module:Social#share', {
				page: page
			}))
		}}

		{{
			render(controller('Message:Mothership:CMS::Controller:Module:Social#links'))
		}}

		<section class="newsletter row">
			<h3>Keep up to date with our newsletter</h3>
			{{
				render(controller('Mothership:Site::Controller:Module:Subscribe#subscribe'))
			}}
		</section>
	</section>
</footer>
<section class="copy row">
	<div class="col-12">
		<small>&copy; 2014 Nucleus. Website by <a href="http://www.message.co.uk/">Message</a></small>
	</div>
</section>