<meta charset="UTF-8">
<meta name="viewport" content="initial-scale=1.0, width=device-width, height=device-height"/>
<meta name="description" content="Skeleton theme for Mothership.">
<title>Skeleton Theme</title>
<link rel="icon" type="image/png" href="/cogules/App:General/images/favicon.png">