<section class="newsletter row form-inline">
	<div class="col-12">
		<h3>Keep up to date with our newsletter</h3>
		{{
			render(controller('Mothership:Site::Controller:Module:Subscribe#subscribe'))
		}}
	</div>
</section>