<section class="text row" data-height>
	<div class="column">
		<div class="centered">
			{{ content.content.content | raw}}
			<a href="{{ content.content.link }}" class="button">Read more</a>
		</div>
	</div>
	<div class="column">
		{{ getResizedImage(content.content.image, 800, 800, {'class': 'cover'}) }}
	</div>
</section>