<section class="product-listing">
	<div class="row">
		{% for key, page in pages %}
			{{
				render(controller('Mothership:Site::Controller:Module:Shop#productBlock', {
					product: page.content.product.product.product,
					option: page.content.product.option,
					page: page
				}))
			}}
		{% endfor %}
	</div>
</section>