/app/site/resources/assets/css/.DS_Store
/app/site/resources/assets/.DS_Store
/app/site/resources/.DS_Store
/app/site/.DS_Store
/app/.DS_Store
/.DS_Store

/app/site/resources/view/module/.DS_Store
/app/site/resources/view/.DS_Store
