<ul>
	{% for page in pages %}
		<li {{ page.id in active ? ' class="current"' }}>
			<a href="{{ page.slug }}">{{ page.title }}</a>
			{% if page.hasTag('submenu') %}
				<div class="sub-navigation">
					{{
						render(controller('RSAR:General::Controller:Module:Menu#menu', {
							page: page,
							currentPage: currentPage,
							active: active
						}))
					}}
				</div>
			{% endif %}
		</li>
	{% endfor %}
</ul>