/* ======================================================= */
/*                                                         */
/*                                                         */
/*    Real Stars are Rare (Holding page)                   */
/*                                                         */
/*                                                         */
/* ======================================================= */
/*
/*
/*    Development by Message
/*    http://www.message.co.uk
/*
/*    Style Sheet v1.0
/*    Created by Richard McCartney
/*
/*
/* ======================================================= */


*
{
    margin: 0;
    padding: 0;

    text-rendering: optimizeLegibility;
            font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
}



html
{
    height: 100%;
}

body
{
    font-family: 'Vitesse-web', 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 100%;
    font-weight: normal;

    position: relative;

    height: 100%;
    min-height: 100%;

    letter-spacing: .05rem;

    background: #fff;
}

/* Text and links
---------------------------------------------------------- */

p
{
    font-size: 1rem;
    font-weight: lighter;
    line-height: 1.875;

    margin: 0 auto 30px;

    letter-spacing: .1rem;
}

strong,
b
{
    font-weight: bold;
}

i
{
    font-style: italic;
}

a
{
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    text-decoration: underline;

    color: #bf1e2a;
}

a:hover
{
    color: #141f6c !important;
}

h1,
h2,
h3,
h4,
h5
{
    width: 100%;
    margin: 0 0 30px;

    letter-spacing: .2em;
    text-transform: uppercase;
}

h1
{
    font-size: 2.688rem;
    line-height: 1.395;
}

h2
{
    font-size: 1.750rem;
    line-height: 1.286;
}

h3
{
    font-size: 1.500rem;
    line-height: 1.500;
}

h4
{
    font-size: 1rem;
    line-height: 1.469;
}

h5
{
    font-size: .875rem;
    line-height: 1.469;
}

blockquote
{
    float: left;

    width: 100%;
    margin: 20px 0 50px;

    background: #fff;
}

blockquote p
{
    max-width: 800px;
    margin: 30px auto;

    text-align: center;
}

blockquote p:before
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 20px;

    content: open-quote;
    content: '“';

    background-image: url(../../public/images/star.png);
    background-image: url(../../public/images/star.svg), none;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 12px 12px;
}

blockquote p:after
{
    content: close-quote;
    content: '”';
}

blockquote footer
{
    float: left;

    width: 100%;

    text-align: right;
}


/* Other text elements */


u
{
    text-decoration: underline;
}

s,
small
{
    font-size: .688rem;
}

cite
{
    font-style: italic;
}


/* Lists
---------------------------------------------------------- */


ul,
ol
{
    overflow: hidden;

    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

ul li,
ol li
{
    line-height: 1.875;

    float: left;

    width: 100%;
    margin-bottom: 20px;

    list-style-position: inside;

    letter-spacing: .1rem;
}

