<<<<<<< HEAD
{% extends 'App:General::templates/base' %}
=======
{% extends 'Mothership:Site::templates/base' %}
>>>>>>> e4c26e5b331de3bff71afe98a4fb42cc4efeec2f

{% block content %}
	<main class="content">
		<div class="col-12">
			<h1>{% block heading %}{% endblock %}</h1>
		</div>
		{% block listing %}
		{% endblock %}
	</main>
{% endblock %}

