<section class="carousel">
	<ul>
		{% for slide in page.content.carousel %}
		<a href="#">
			<li>
				<img src="{{ getResizedUrl(slide.image, 203594, 500) }}">
				<div class="wrap">
					{% if not slide.header.value is empty or not slide.subheader.value is empty %}
					<div class="overlay overlay-{{ slide.overlay_pos }}">
						{% if not slide.header.value is empty %}<h2>{{ slide.header }}</h2>{% endif %}
						{% if not slide.subheader.value is empty %}<p>{{ slide.subheader }}</p>{% endif %}
					</div>
					{% endif %}
				</div>
			</li>
		</a>
		{% endfor %}
	</ul>
</section>