{% extends '<Add vendor name>:General::templates/base' %}

{% block content %}
	<main class="content" id="content" role="main">
		{# Add in home page blocks here #}
		{% block exampleblock %}
			{% include '<add vendor name>:General::module:home:example' %}
		{% endblock %}
	</main>
{% endblock %}