{% extends 'App:General::templates:base' %}

{% block content %}
	<main class="content" id="content" role="main">
		{% set product = content.product.product.product %}
		<div class="row">
			{# Product info #}
			{% block productinfo %}
				{% include '@App:General::module:product:product_info' %}
			{% endblock %}

			{# Product gallery #}
			{% block gallery %}
				{{
					render(controller('App:General::Controller:Module:Gallery#gallery', {
						product: product,
						gallery: content.gallery
					}))
				}}
			{% endblock %}
		</div>
		<div class="row">
			{# Product tabs #}
			{% block tabs %}
				{% include '@App:General::module:product:tabs' %}
			{% endblock %}
		</div>
		{# Cross sell #}
		{{
			render(controller('App:General::Controller:Module:Shop#crossSell', {
				crossSell: content.cross_sell
			}))
		}}
	</main>
{% endblock %}