<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	{# Site meta details #}
	{% block meta %}
		{% include '@<Add vendor name>:General::templates:blocks:meta' %}
	{% endblock %}

	{# Site stylesheets #}
	{% block stylesheets %}
		{% include '@<Add vendor name>:General::templates:blocks:stylesheets' %}
	{% endblock %}

	{# Site javascript #}
	{% block javascripts %}
		{% include '@<Add vendor name>:General::templates:blocks:javascript' %}
	{% endblock %}
</head>
<body>
	{# Container #}
	<div class="container" id="top">
		<div class="inner-container">
		{# Header #}
		{% block header %}
			{% include '@<Add vendor name>:General::templates:blocks:header' %}
			{% include '@<Add vendor name>:General::templates:blocks:feedback' %}
		{% endblock %}

		{# Content #}
		{% block content %}
		{% endblock %}

		{# Footer #}
		{% block footer %}
			{% include '@<Add vendor name>:General::templates:blocks:footer' %}
		{% endblock %}
		</div>
	</div>
</body>
</html>