<<<<<<< HEAD
{% extends 'Mothership:Site::templates:base' %}

{% block content %}
	<main class="content" id="content" role="main">
		{# Main promo #}
		<div class="row">
			<div class="col-12">
				<h1>Hello and welcome to Skeleton <small>A generic eCommerce theme for Mothership</small></h1>
			</div>
		</div>
		{# Newsletter #}
		{% block newsletter %}
			{% include '@Mothership:Site::module:home:newsletter' %}
		{% endblock %}
=======
{% extends 'Mothership:Site::templates/base' %}

{% block content %}
	<main class="content" id="content" role="main">
		<h1>{{ content.header.header }}</h1>
		<h2>{{ content.header.subheader }}</h2>
		{{ content.content.content | raw }}
>>>>>>> e4c26e5b331de3bff71afe98a4fb42cc4efeec2f
	</main>
{% endblock %}