{% extends 'Mothership:Site::templates:base' %}

{% block content %}
	<main class="content" id="content" role="main">
		<div class="row">
			<div class="col-12">
				<h1>{{ page.title }}</h1>
				{# Story content #}
				{% block story %}
					{% include '@Mothership:Site::module:our_story:story' %}
				{% endblock %}
			</div>
		</div>
	</main>
{% endblock %}