<<<<<<< HEAD:app/site/resources/view/page_type/product.html.twig
{% extends 'Mothership:Site::templates:base' %}
=======
{% extends 'Mothership:Site::templates/base' %}
>>>>>>> e4c26e5b331de3bff71afe98a4fb42cc4efeec2f:app/site/resources/view/page_type/product.html.twig

{% block content %}
	<main class="content" id="content" role="main">
		{% set product = content.product.product.product %}
		<div class="row">
			{# Product info #}
			{% block productinfo %}
<<<<<<< HEAD:app/site/resources/view/page_type/product.html.twig
				{% include '@Mothership:Site::module:product:product_info' %}
=======
				{% include 'Mothership:Site::module:product:product_info' %}
>>>>>>> e4c26e5b331de3bff71afe98a4fb42cc4efeec2f:app/site/resources/view/page_type/product.html.twig
			{% endblock %}

			{# Product gallery #}
			{% block gallery %}
				{{
					render(controller('Mothership:Site::Controller:Module:Gallery#gallery', {
						product: product,
						gallery: content.gallery
					}))
				}}
			{% endblock %}
		</div>
		<div class="row">
			{# Product tabs #}
			{% block tabs %}
<<<<<<< HEAD:app/site/resources/view/page_type/product.html.twig
				{% include '@Mothership:Site::module:product:tabs' %}
=======
				{% include 'Mothership:Site::module:product:tabs' %}
>>>>>>> e4c26e5b331de3bff71afe98a4fb42cc4efeec2f:app/site/resources/view/page_type/product.html.twig
			{% endblock %}
		</div>
		{# Cross sell #}
		{{
			render(controller('Mothership:Site::Controller:Module:Shop#crossSell', {
				crossSell: content.cross_sell
			}))
		}}
	</main>
{% endblock %}