<!-- <ul>
	{% for page in pages %}
		<li {{ page.id in active ? ' class="current"' }}>
			<a href="{{ page.slug }}">{{ page.title }}</a>
			{% if page.hasTag('submenu') %}
				<div class="sub-navigation">
					{{
						render(controller('Mothership:Site::Controller:Module:Menu#menu', {
							page: page,
							currentPage: currentPage,
							active: active
						}))
					}}
				</div>
			{% endif %}
		</li>
	{% endfor %}
</ul> -->

<ul>
<li><a href="#">Home</a></li>
<li><a href="#">Shop</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Contact</a></li>
</ul>