{% spaceless %}
	<div class="video-container">
		<div class="video">
			<iframe
					src="//player.vimeo.com/video/{{ code }}?byline=0&amp;portrait=0&amp;badge=0&amp;color=ffffff"
					width="{{ width }}"
					height="{{ height }}"
					frameborder="0"
					webkitallowfullscreen
					mozallowfullscreen
					allowfullscreen
			>
			</iframe>
		</div>
	</div>
{% endspaceless %}